<div class="row">

    <h1>Download list</h1>

    <form>
        <div class="form-group col-xs-12 col-md-8">
            <input type="text" class="form-control" id="search-term" ng-model="$storage.client_search_filter_search.name" placeholder="Filter..." autocomplete="off">
        </div>
        <div class="form-group col-xs-12 col-md-4">
            <select class="form-control" ng-model="$storage.client_search_filter_search.state">
                <option value="">All</option>
                <option value="Downloading">Downloading</option>
                <option value="Queued">Queued</option>
                <option value="Paused">Paused</option>
                <option value="Error">Error</option>
            </select>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><a ng-click="order('name')">Name</a></th>
                <th><a ng-click="order('state')">State</a></th>
                <th><a ng-click="order('speed')">Speed</a></th>
                <th><a ng-click="order('progress')">Progress</a></th>
                <th><a ng-click="order('eta')">ETA</a></th>
                <th><a ng-click="order('total_done')">Downloaded</a></th>
                <th><a ng-click="order('total_size')">Total</a></th>
                <th><a ng-click="order('total_seeds')">Seeders</a></th>
                <th><a ng-click="order('total_peers')">Peers</a></th>
            </tr>
        </thead>
        <tbody>
            <tr class="" ng-repeat="torrent in torrents |
                                    filter:$storage.client_search_filter_search:strict |
                                    orderBy:$storage.client_list_order.field:$storage.client_list_order.reverse">
                <td class="col-xs-4">{{torrent.name}}</td>
                <td class="col-xs-1">{{torrent.state}}</td>
                <td class="col-xs-1">{{torrent.download_payload_rate | bytes : 1 : true}}</td>
                <td class="col-xs-1">{{torrent.progress | number : 2}}%</td>
                <td class="col-xs-1">{{torrent.eta | date}}</td>
                <td class="col-xs-1">{{torrent.total_done | bytes}}</td>
                <td class="col-xs-1">{{torrent.total_size | bytes}}</td>
                <td class="col-xs-1">{{torrent.total_seeds}}</td>
                <td class="col-xs-1">{{torrent.total_peers}}</td>
            </tr>
        </tbody>
    </table>
</div>
