<div class="row">
    <h1>Deluge</h1>
</div>

<div class="row">
    <form>
        <div class="form-group">
            <!-- <input type="text" class="form-control" id="search-term" ng-model="searchTerm" ng-change="updatelist()" placeholder="Search..."> -->
            <button class="btn btn-primary" ng-click="getClientTorrents()">Update</button>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Progress</th>
                <th>Downloaded</th>
                <th>Total</th>
                <th>Seeders</th>
                <th>Peers</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" ng-repeat="torrent in torrents">
                <td class="col-xs-6">{{torrent.name}}</td>
                <td class="col-xs-1">{{torrent.state}}</td>
                <td class="col-xs-1">{{torrent.progress}}</td>
                <td class="col-xs-1">{{torrent.total_done | bytes}}</td>
                <td class="col-xs-1">{{torrent.total_size | bytes}}</td>
                <td class="col-xs-1">{{torrent.total_seeds}}</td>
                <td class="col-xs-1">{{torrent.total_peers}}</td>
            </tr>
        </tbody>
    </table>
</div>
