<div class="row">
    <h1>Search</h1>
</div>

<div class="row">
    <form>
        <div class="form-group input-group">
            <input type="text" class="form-control" id="search-term" autocomplete="off" ng-model="searchTerm" placeholder="Search...">
            <div class="input-group-btn">
                <button class="btn btn-primary" ng-click="updatelist()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Seeders</th>
                <th>Leechers</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" ng-repeat="torrent in torrents">
                <td class="col-xs-6">{{torrent.name}}</td>
                <td class="col-xs-2">{{torrent.size}}</td>
                <td class="col-xs-2">{{torrent.seeders}}</td>
                <td class="col-xs-2">{{torrent.leechers}}</td>
                <td class="col-xs-2">
                    <button ng-click="addTorrent(torrent.magnetLink)" class="btn btn-default glyphicon glyphicon-download"></button>
                    <a href="{{torrent.magnetLink}}">Magnet</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
